<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Session Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <div class="container">
        <h1 class="header">Session Management</h1>
        <hr>
        <a class="btn" href="/basic"><i class="material-icons right">arrow_forward</i>Basic timeout</a>
        <hr>
        <a class="btn" href="/countdown-bar"><i class="material-icons right">arrow_forward</i>Countdown Bar</a>
        <hr>
        <a class="btn" href="/countdown-timer"><i class="material-icons right">arrow_forward</i>Countdown Timer</a>
        <hr>
        <a class="btn" href="/custom-callback"><i class="material-icons right">arrow_forward</i>Custom Callback</a>
        <hr>
        <a class="btn" href="/keep-alive"><i class="material-icons right">arrow_forward</i>Keep Alive</a>
        <hr>
        <a class="btn" href="/locked"><i class="material-icons right">arrow_forward</i>Locked</a>
        <hr>
        <a class="btn" href="/login"><i class="material-icons right">arrow_forward</i>Login</a>
        <hr>
        <a class="btn" href="/timeout"><i class="material-icons right">arrow_forward</i>Timeout</a>
        <hr>
    </div>
</body>

</html>