<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bootstrap-session-timeout - Keep Alive Usage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <% include ../scripts/scripts %>
</head>

<body>
    <div class="container">
        <h1>Keep me on my page</h1>
        <h2>Keep alive URL</h2>
        <hr>
        <p>The URL that simulate the "refresh session".</p>

        <a class="btn" href="/"><i class="material-icons right">arrow_backward</i>Back to Home page</a>
    </div>
</body>

</html>