<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bootstrap-session-timeout - Keep Alive Usage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <div class="container">
        <h1>Bootstrap-session-timeout</h1>
        <h2>Dummy keep alive URL</h2>
        <hr>
        <p>This would be your server-side URL to refresh user session.</p>
        <% include ../scripts/scripts %>
    </div>
</body>

</html>